*{
	margin: 0px;
	padding: 0px;
}

.s1_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s1_2 {
	position: absolute;
  left: 33px;
  top: 47px;
  width: 368px;
  height: 701px;
	animation: slideInRight 0.7s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}


.s1_3 {
	position: absolute;
  left: 430px;
  top: 199px;
  width: 554px;
  height: 99px;
  	animation: fadeInUp 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_4 {
	position: absolute;
  left: 537px;
  top: 325px;
  width: 339px;
  height: 171px;
    animation: zoomIn 0.5s;
	animation-delay: 1.9s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_5 {
	position: absolute;
  left: 142px;
  top: 127px;
  width: 154px;
  height: 196px;
    animation: swing 1s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 8;
}

.s1_6 {
	position: absolute;
  left: 424px;
  top: 534px;
  width: 566px;
  height: 119px;
    animation: flipInX 1s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 5;
}

.wrap2-6 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 10;
}

.bounceOut {
	animation: bounceOut 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
}

.hitbg1 {
	position: absolute;
  left: 33px;
  top: 47px;
  width: 368px;
  height: 701px;
    animation: slideInLeft 0.1s;
	animation-delay: 2.8s;
	animation-fill-mode: both;
	z-index: 15;
}

.s1_7 {
	position: absolute;
  left: 68px;
  top: 250px;
  width: 285px;
  height: 499px;
  animation: fadeInLeft 0.4s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  display: none;
	z-index: 5;
}

.s1_8 {
	position: absolute;
  left: 404px;
  top: 290px;
  width: 221px;
  height: 419px;
  animation: zoomIn 0.4s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  display: none;
	z-index: 5;
}

.s1_9 {
	position: absolute;
  left: 671px;
  top: 250px;
  width: 285px;
  height: 499px;
  animation: fadeInRight 0.4s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
	display: none;
	z-index: 5;
}

.s1_10 {
	position: absolute;
  left: 305px;
  top: 119px;
  width: 414px;
  height: 127px;
	animation: fadeInDown 0.4s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
	display: none;
	z-index: 5;
}

.s1_11 {
	position: absolute;
  left: 238px;
  top: 367px;
  width: 52px;
  height: 71px;
  	animation: fadeIn 0.3s;
    animation-delay: 1s;
    animation-fill-mode: both;
	display: none;
	z-index: 5;
}

.s1_12 {
	position: absolute;
  left: 186px;
  top: 450px;
  width: 148px;
  height: 37px;
    animation: fadeIn 0.3s;
    animation-delay: 1s;
    animation-fill-mode: both;
  display: none;
	z-index: 5;
}

.hit1 {
	position: absolute;
  left: 181px;
  top: 489px;
  width: 155px;
  height: 174px;
	display: none;
	z-index: 15;
}

.shape1 {
	position: absolute;
  left: 198px;
  top: 497px;
  width: 4px;
  height: 159px;
	animation: revealVerticalRev 0.3s;
	animation-delay: 0s;
	animation-fill-mode: both;
	clip: rect(160px,4px,160px,0px);
	display: none;
	z-index: 10;
}

@keyframes revealVerticalRev {
  0% {
    clip: rect(160px,4px,160px,0px);
  }
  
  100% {
    clip: rect(0px,4px,160px,0px);
  }
}

.shape2 {
	position: absolute;
  left: 198px;
  top: 496px;
  width: 61px;
  height: 80px;
	animation: revealHorizontal1 0.3s;
	animation-delay: 0.3s;
	animation-fill-mode: both;
	clip: rect(0px,0px,82px,0px);
	display: none;
	z-index: 10;
}

@keyframes revealHorizontal1 {
  0% {
    clip: rect(0px,0px,82px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,65px,82px,0px);
	opacity: 1;
  }
}

.shape3 {
	position: absolute;
  left: 256px;
  top: 511px;
  width: 60px;
  height: 65px;
	animation: revealHorizontal2 0.3s;
	animation-delay: 0.6s;
	animation-fill-mode: both;
	clip: rect(0px,0px,65px,0px);
	display: none;
	z-index: 10;
}

@keyframes revealHorizontal2 {
  0% {
    clip: rect(0px,0px,65px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,60px,65px,0px);
	opacity: 1;
  }
}

.shape4 {
	position: absolute;
  left: 313px;
  top: 511px;
  width: 4px;
  height: 127px;
	animation: revealVertical1 0.3s;
	animation-delay: 0.9s;
	animation-fill-mode: both;
	clip: rect(0px,4px,0px,0px);
	display: none;
	z-index: 10;
}

@keyframes revealVertical1 {
  0% {
    clip: rect(0px,4px,0px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,4px,130px,0px);
	opacity: 1;
  }
}

.s1_13 {
	position: absolute;
  left: 238px;
  top: 367px;
  width: 52px;
  height: 71px;
    animation: fadeIn 0.3s;
    animation-delay: 0s;
    animation-fill-mode: both;
	display: none;
	z-index: 10;
}

.s1_14 {
	position: absolute;
  left: 207px;
  top: 436px;
  width: 106px;
  height: 20px;
    animation: fadeIn 0.3s;
    animation-delay: 0s;
    animation-fill-mode: both;
	display: none;
	z-index: 10;
}

.s1_15 {
	position: absolute;
  left: 487px;
  top: 371px;
  width: 53px;
  height: 68px;
  	animation: fadeIn 0.3s;
    animation-delay: 1s;
    animation-fill-mode: both;
	display: none;
	z-index: 10;
}

.s1_16 {
	position: absolute;
  left: 429px;
  top: 465px;
  width: 172px;
  height: 24px;
    animation: fadeIn 0.3s;
    animation-delay: 0s;
    animation-fill-mode: both;
  display: none;
	z-index: 10;
}

.s1_17 {
	position: absolute;
  left: 487px;
  top: 371px;
  width: 53px;
  height: 68px;
    animation: fadeIn 0.3s;
    animation-delay: 0s;
    animation-fill-mode: both;
	display: none;
	z-index: 10;
}

.hit2 {
	position: absolute;
  left: 436px;
  top: 489px;
  width: 155px;
  height: 174px;
	display: none;
	z-index: 15;
}

.shape5 {
	position: absolute;
  left: 453px;
  top: 499px;
  width: 119px;
  height: 4px;
	animation: revealHorizontalRev1 0.3s;
	animation-delay: 0s;
	animation-fill-mode: both;
	clip: rect(0px,120px,50px,120px);
	display: none;
	z-index: 10;
}

@keyframes revealHorizontalRev1 {
  0% {
    clip: rect(0px,120px,50px,120px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,120px,50px,0px);
	opacity: 1;
  }
}

.shape6 {
	position: absolute;
  left: 453px;
  top: 510px;
  width: 4px;
  height: 124px;
	animation: revealVertical2 0.3s;
	animation-delay: 0.3s;
	animation-fill-mode: both;
	clip: rect(0px,4px,0px,0px);
	display: none;
	z-index: 10;
}

@keyframes revealVertical2 {
  0% {
    clip: rect(0px,4px,0px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,4px,125px,0px);
	opacity: 1;
  }
}

.shape7 {
	position: absolute;
  left: 453px;
  top: 621px;
  width: 119px;
  height: 4px;
	animation: revealHorizontal3 0.3s;
	animation-delay: 0.6s;
	animation-fill-mode: both;
	clip: rect(0px,0px,20px,0px);
	display: none;
	z-index: 10;
}

@keyframes revealHorizontal3 {
  0% {
    clip: rect(0px,0px,20px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,120px,20px,0px);
	opacity: 1;
  }
}

.s1_18 {
	position: absolute;
  left: 449px;
  top: 445px;
  width: 131px;
  height: 9px;
    animation: fadeIn 0.3s;
    animation-delay: 0s;
    animation-fill-mode: both;
	display: none;
	z-index: 10;
}

.s1_19 {
	position: absolute;
  left: 741px;
  top: 369px;
  width: 51px;
  height: 70px;
  	animation: fadeIn 0.3s;
    animation-delay: 1s;
    animation-fill-mode: both;
	display: none;
	z-index: 10;
}

.s1_20 {
	position: absolute;
  left: 689px;
  top: 460px;
  width: 152px;
  height: 26px;
    animation: fadeIn 0.3s;
    animation-delay: 0s;
    animation-fill-mode: both;
	display: none;
	z-index: 10;
}

.hit3 {
	position: absolute;
  left: 686px;
  top: 489px;
  width: 155px;
  height: 174px;
	display: none;
	z-index: 15;
}

.shape8 {
	position: absolute;
  left: 705px;
  top: 498px;
  width: 119px;
  height: 15px;
	animation: revealHorizontal4 0.4s;
	animation-delay: 0s;
	animation-fill-mode: both;
	clip: rect(0px,0px,20px,0px);
	display: none;
	z-index: 10;
}

@keyframes revealHorizontal4 {
  0% {
    clip: rect(0px,0px,20px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,120px,20px,0px);
	opacity: 1;
  }
}

.shape9 {
	position: absolute;
  left: 762px;
  top: 505px;
  width: 4px;
  height: 140px;
	animation: revealVertical3 0.4s;
	animation-delay: 0.3s;
	animation-fill-mode: both;
	clip: rect(0px,4px,0px,0px);
	display: none;
	z-index: 10;
}

@keyframes revealVertical3 {
  0% {
    clip: rect(0px,4px,0px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,4px,140px,0px);
	opacity: 1;
  }
}

.s1_21 {
	position: absolute;
  left: 741px;
  top: 369px;
  width: 51px;
  height: 70px;
    animation: fadeIn 0.3s;
    animation-delay: 0s;
    animation-fill-mode: both;
	display: none;
	z-index: 20;
}

.s1_22 {
	position: absolute;
  left: 707px;
  top: 442px;
  width: 110px;
  height: 15px;
    animation: fadeIn 0.3s;
    animation-delay: 0s;
    animation-fill-mode: both;
	display: none;
	z-index: 20;
}

.wrap7-22 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 10;
}

.rotateOut {
	animation: rotateOut 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
}

.s1_23 {
	position: absolute;
  left: 33px;
  top: 47px;
  width: 368px;
  height: 701px;
	animation: slideInRight 0.7s;
	animation-delay: 0s;
	animation-fill-mode: both;
	display: none;
	z-index: 20;
}

.s1_24 {
	position: absolute;
  left: 526px;
  top: 139px;
  width: 346px;
  height: 64px;
  	animation: fadeInUp 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	display: none;
	z-index: 20;
}

.s1_25 {
	position: absolute;
  left: 478px;
  top: 230px;
  width: 443px;
  height: 150px;
    animation: zoomIn 0.5s;
	animation-delay: 1.9s;
	animation-fill-mode: both;
	display: none;
	z-index: 20;
}

.s1_26 {
	position: absolute;
  left: 247px;
  top: 486px;
  width: 114px;
  height: 145px;
    animation: swing 1s;
	animation-delay: 2s;
	animation-fill-mode: both;
	display: none;
	z-index: 20;
}

.s1_27 {
	position: absolute;
  left: 424px;
  top: 461px;
  width: 553px;
  height: 149px;
    animation: zoomIn 0.5s;
	animation-delay: 3s;
	animation-fill-mode: both;
	display: none;
	z-index: 20;
}

.s1_28 {
	position: absolute;
  left: 458px;
  top: 650px;
  width: 488px;
  height: 45px;
    animation: fadeInUp 0.5s;
	animation-delay: 3s;
	animation-fill-mode: both;
	display: none;
	z-index: 20;
}